{% extends "_base.html" %}

{% block title %}CloudAPI - App Engine Endpoints{% endblock %}
{% block description %}App Engine Cloud Endpoints + AngularJS{% endblock %}

{% block more_head_scripts %}
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/js/components/angular/angular.min.js"></script>
  <script src="/js/app/gapi.js"></script>
  <script src="/js/app/controllers.js"></script>
  <script src="/js/app/main.js"></script>
  <script>
    function init() {
      console.log('init(): gapi.load');
      gapi.client.load('apitest', 'v1', function() {
        console.log('bootstrapping angular now');
        var el = document.getElementById('loading');
        el.parentNode.removeChild(el);
        angular.bootstrap(document, ['main']);
      }, '/_ah/api');
    }
  </script>
  <script src="https://apis.google.com/js/client.js?onload=init"></script>
{% endblock %}

{% block body %}
  <section id="loading">Loading</section>
  <section id="main" ng-cloak>
    <section id="stringer" ng-controller="StringerCtrl">
      <div class="row"><label>Name:</label><input type="text" ng-model="name"></div>
      <div class="row"><label>Email:</label><input type="email" ng-model="email" required></div>
      <div class="row"><label></label><div role="button" class="aj-button" ng-click="stringify()">Stringify!</div></div>
      <div class="row"><span class="response" ng-show="!!stringified" ng-bind="stringified"></span></div>
    </section>
  </section>
{% endblock %}
